/* 美化滚动条样式 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: transparent;
  background-color: transparent;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.fr-container .fr-label-title{
  color: #fff !important;
}
